@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the HTMX Demo</h1>
    <p>"htmx gives you access to AJAX, CSS Transitions, WebSockets and Server Sent Events directly in HTML, using attributes, so you can build modern user interfaces with the simplicity and power of hypertext"</p>
    <p>Learn about <a href="https://htmx.org/">HTMX</a>.</p>
</div>
