@model DemoObject
@using dotnet_html_sortable_table.Models;

@{
  ViewData["Title"] = "Infinite Scroll";
  bool split = (bool)ViewData["split"];
}

<style type="text/css" media="all">
  .buttons {
    display: flex;
    justify-content: center;
  }

  .button-text {
    font-size: 24px;
    margin: 5px;
  }

</style>

<div class="buttons">
  <a class="btn btn-primary button-text" href="/Scroll?split=False">Full Scroll</a>
  <a class="btn btn-primary button-text" href="/Scroll?split=True">Split Scroll</a>
</div>

<hr>
<br>

<table class="table"
  <thead>
    <tr class="headers">
      <th>
        @Html.DisplayNameFor(model => model.Table[0].Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Table[0].RandInt)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Table[0].Name)
      </th>
    </tr>
  </thead>

  <tbody id="tablecontent"> 
    @await Html.PartialAsync("_ScrollTable", Model.Table)
  </tbody>

</table>
 
