@model DemoObject
@using dotnet_html_sortable_table.Models;

@{
  ViewData["Title"] = "Infinite Scroll";
  bool split = (bool)ViewData["split"];
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.10/htmx.min.js"></script>

<style type="text/css" media="all">
  .buttons {
    display: flex;
    justify-content: center;
  }

  .btn:active {
    background: gray
  }
</style>
<div class="buttons">
  <form action="/Scroll" method="get">
    <button class="btn btn-link">Full Scroll</button>
  </form>
  <form action="/Scroll?split=true" method="get">
    <button class="btn btn-link" type="submit">Split Scroll</button>
  </form>
</div>


<table class="table"
  <thead>
    <tr class="headers">
      <th>
        @Html.DisplayNameFor(model => model.Table[0].Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Table[0].RandInt)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Table[0].Name)
      </th>
    </tr>
  </thead>

  <tbody id="tablecontent"> 
    @await Html.PartialAsync("_ScrollTable", Model.Table)
  </tbody>

</table>
 
