@model DemoObject
@using dotnet_html_sortable_table.Models;

@{
  int size = (int)ViewData["Size"];
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.10/htmx.min.js"></script>

<div>
  <h1>Howdy!</h1>
</div>
<hr />

<table class="table"
  <thead>
    <tr class="headers">
      <th
        hx-get="/Demo/1?id=@(Model.Id)&size=@(size)"
        hx-target="#tablecontent">
        @Html.DisplayNameFor(model => model.Table[0].Id)
      </th>
      <th
        hx-get="/Demo/2?id=@(Model.Id)&size=@(size)"
        hx-target="#tablecontent">
        @Html.DisplayNameFor(model => model.Table[0].RandInt)
      </th>
      <th
        hx-get="/Demo/3?id=@(Model.Id)&size=@(size)"
        hx-target="#tablecontent">
        @Html.DisplayNameFor(model => model.Table[0].Name)
      </th>
    </tr>
  </thead>

  <tbody id="tablecontent"> 
    @await Html.PartialAsync("_TableData", Model.Table)
  </tbody>

</table>
